.result {
    min-height: 500px;
    position: relative;
    height: auto;
}

.restext {
    position: absolute;
    z-index: 5;
    padding-top: 5%;
    padding-left: 5%;
}


.form-range{
    width: 100%;
}